<div *ngIf="loading">
  <app-loader></app-loader>
</div>

<div class="container">
  <div class="page-header">
    <a href="/" (click)="doLogout()">
      <img class="pull-left" src="assets/image/kfc-indonesia-logo.png" height="75" width="60"/>
    </a>
    <h1 style="margin-left: 75px;padding-top: 15px;padding-bottom: 10px;">IT Project Monitoring (Admin)</h1>
    <h4 style="margin-top: -30px;font-size: 18px;font-weight: bold" class="pull-right">
      {{todaysDate | date: 'EEEE, dd MMMM yyyy'}}
    </h4>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="javascript:void(0);" (click)="doLogout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
  </ul>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_send" style="font-size: 16px;letter-spacing: 3px;"  data-toggle="tab" (click)="openTabWaiting()">Waiting Project <i style="margin-left: 1em;" class="fa fa-refresh" title="Refresh"></i></a></li>
    <li><a href="#tab_receive" style="font-size: 16px;letter-spacing: 3px;" data-toggle="tab" (click)="openTabCurrent()">Current Project <i style="margin-left: 1em;" class="fa fa-refresh" title="Refresh"></i></a></li>
    <li><a href="#tab_receive" style="font-size: 16px;letter-spacing: 3px;" data-toggle="tab" (click)="openTabDone()">Finish Project <i style="margin-left: 1em;" class="fa fa-refresh" title="Refresh"></i></a></li>
  </ul><br>

  <button *ngIf="openedForm === 'Waiting'" class="btn btn-primary pull-left" data-toggle="modal" data-target="#myModalHorizontal" (click)="doOpenFormAdd()">
    <i class="fa fa-plus"></i> ADD NEW PROJECT
  </button>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th style="width: 1%">No</th>
      <th style="width: 12%">Project Name</th>
      <th style="text-align: center; width: 5%;">Start Date</th>
      <th style="text-align: center; width: 7%;">Go Live Target</th>
      <th style="text-align: center; width: 5%;">Division</th>
      <th style="text-align: center; width: 7%;">Current Status</th>
      <th style="width: 5%">Description</th>
      <th style="text-align: center; width: 15%;">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let proj of projectList; let i = index;">
      <td>{{(pageNo*10)+i+1}}</td>
      <td>
        <div style="font-weight: bold; font-size: 15px;">
          {{proj.projectName}}
          <div class="pull-right" *ngIf="proj.priority==='1'">
            <i style="color: red" class="fa fa-flag"></i>
          </div>
          <div class="pull-right" *ngIf="proj.priority==='2'">
            <i style="color: orange" class="fa fa-flag"></i>
          </div>
          <div class="pull-right" *ngIf="proj.priority==='3'">
            <i style="color: #00b3ee" class="fa fa-flag"></i>
          </div>
        </div>
        <div style="font-size: 14px">{{proj.requester}}</div>

      </td>
      <td style="text-align: center; font-size: 12px;">
        {{proj.startDate === '1970-01-01 07:00:00.0' ? '' : (proj.startDate  | date: 'dd MMM yyyy')}}
      </td>
      <td style="text-align: center; font-size: 12px;">{{proj.goLiveTarget === '1970-01-01 07:00:00.0' ? '' : (proj.goLiveTarget  | date: 'dd MMM yyyy')}}</td>
      <td style="text-align: center; font-size: 12px;">{{proj.division}}</td>
      <td style="text-align: center; font-size: 12px;">
        <div *ngIf="proj.currentStatus==='DEVELOPMENT'">
          <i class="fa fa-cog fa-spin fa-1x fa-fw"></i> {{proj.currentStatus}}<br><div *ngIf="proj.pic !== null">(PIC : {{proj.pic}})</div>
        </div>
        <div *ngIf="proj.currentStatus==='HOLD'">
          <i class="fa fa-hand-paper-o"></i> {{proj.currentStatus}}<br><div *ngIf="proj.pic !== null">(PIC : {{proj.pic}})</div>
        </div>
        <div *ngIf="proj.currentStatus==='PRODUCTION'">
          <i class="fa fa-play done-project"></i> {{proj.currentStatus}}<div *ngIf="proj.pic !== null">(PIC : {{proj.pic}})</div>
        </div>
        <div *ngIf="proj.currentStatus==='WAITING'">
          <app-hour-glass></app-hour-glass>
          {{proj.currentStatus}}
        </div>
      </td>
      <td style="font-size: 12px;">{{proj.description}}</td>
      <td align="center">
        <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModalHorizontal" (click)="doOpenFormEdit(proj)">
          <i class="fa fa-pencil"></i> Edit
        </button>
        <button *ngIf="openedForm === 'Waiting' && proj.currentStatus !=='HOLD'" title="Make it to Development" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModalDevelopment" (click)="doOpenFormDevelopment(proj)">
          <i class="fa fa-cog fa-spin fa-1x fa-fw"></i> Develop
        </button>
        <button *ngIf="openedForm !== 'Finish' && proj.currentStatus !=='HOLD'" title="Hold Project" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#confirmModalHold" (click)="doOpenFormHold(proj)">
          <i class="fa fa-hand-paper-o"></i> Hold
        </button>
        <button *ngIf="openedForm === 'Waiting' && proj.currentStatus ==='HOLD'" title="Continue Project" class="btn btn-success btn-xs" data-toggle="modal" data-target="#confirmModalContinue" (click)="doOpenFormContinue(proj)">
          <i class="fa fa-cog fa-spin fa-1x fa-fw"></i> Continue
        </button>
        <button *ngIf="openedForm === 'Current'" title="Make it to Production" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#confirmModalProduction" (click)="doOpenFormProduction(proj)">
          <i class="fa fa-play done-project"></i> Finish
        </button>
        <button *ngIf="openedForm === 'Waiting'" title="Delete Project" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirmModalDelete" (click)="doOpenFormDelete(proj)">
          <i class="fa fa-trash"></i> Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<!-- Modal Form Input-->
<div *ngIf="doOpenForm" class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 55%;">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          {{titleModal}}
        </h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <p class="col s3 text-danger" style="font-size: smaller">
          *) Field is Required
        </p><br>
        <form [formGroup]="projectFormBuilder">
          <div class="form-group row" [ngClass]="{'has-error': (projectName.errors?.required  && projectName.touched), 'has-success': (!projectName.errors?.required)}">
            <label for="projectName" class="col-sm-3">Project Name <small>*</small></label>
            <div class="col-sm-7">
              <input type="text" maxlength="100" class="form-control" id="projectName" formControlName="projectName" #projectNameInput>
            </div>
            <div class="col-sm-2" style="font-size: 11px;">
              <span *ngIf="projectName.errors?.required && projectName.touched" class="help-block">Field is required</span>
            </div>
          </div>
          <div class="form-group row" *ngIf="openedForm !== 'Waiting'" [ngClass]="{'has-error': (priority.errors?.required), 'has-success': (!priority.errors?.required)}">
            <label class="col-sm-3">Priority</label>
            <div class="col-sm-7">
              <label class="radio-inline">
                <input type="radio" name="priority" id="low" value="3" [checked]="selectedPriority == '3' ? true: null" formControlName="priority"> Low
              </label>
              <label class="radio-inline">
                <input type="radio" name="priority" id="medium" value="2" [checked]="selectedPriority == '2' ? true: null" formControlName="priority"> Medium
              </label>
              <label class="radio-inline">
                <input type="radio" name="priority" id="high" value="1" [checked]="selectedPriority == '1' ? true: null" formControlName="priority"> High
              </label>
            </div>
            <div class="col-sm-2" style="font-size: 11px;">
              <span *ngIf="priority.errors?.required" class="help-block">Field is required</span>
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (requestBy.errors?.required  && requestBy.touched), 'has-success': (!requestBy.errors?.required)}">
            <label for="requestBy" class="col-sm-3">Request By <small>*</small></label>
            <div class="col-sm-7">
              <input type="text" maxlength="100" class="form-control" id="requestBy" formControlName="requestBy">
            </div>
            <div class="col-sm-2" style="font-size: 11px;">
              <span *ngIf="requestBy.errors?.required && requestBy.touched" class="help-block">Field is required</span>
            </div>
          </div>
          <div class="form-group row" *ngIf="openedForm !== 'Waiting'" [ngClass]="{'has-error': (startedDate.errors?.required  && startedDate.touched), 'has-success': (!startedDate.errors?.required)}">
            <label for="startDate" class="col-sm-3">Start Date</label>
            <div class="col-sm-7">
              <input type="text" id="startDate" class="form-control" formControlName="startDate"
                     #dp="bsDatepicker" bsDatepicker [(bsValue)]="startDate" value="{{ startDate | date: 'dd MMM yyyy' }}">
            </div>
            <div class="col-sm-2" style="font-size: 11px;">
              <span *ngIf="startedDate.errors?.required && startedDate.touched" class="help-block">Field is required</span>
            </div>
          </div>
          <div class="form-group row" *ngIf="openedForm !== 'Waiting'" [ngClass]="{'has-error': (liveDate.errors?.required  && liveDate.touched), 'has-success': (!liveDate.errors?.required)}">
            <label for="liveTarget" class="col-sm-3">Go Live Target</label>
            <div class="col-sm-7">
              <input type="text" id="liveTarget" class="form-control" formControlName="liveTarget"
                     #dp="bsDatepicker" bsDatepicker [(bsValue)]="liveTarget" value="{{ liveTarget | date: 'dd MMM yyyy' }}">
            </div>
            <div class="col-sm-2" style="font-size: 11px;">
              <span *ngIf="liveDate.errors?.required && liveDate.touched" class="help-block">Field is required</span>
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (division.errors?.required  && division.touched), 'has-success': (!division.errors?.required)}">
            <label for="division" class="col-sm-3">Division <small>*</small></label>
            <div class="col-sm-7">
              <input type="text" maxlength="100" class="form-control" id="division" formControlName="division">
            </div>
            <div class="col-sm-2" style="font-size: 11px;">
              <span *ngIf="division.errors?.required && division.touched" class="help-block">Field is required</span>
            </div>
          </div>
          <!--<div class="form-group row" *ngIf="openedForm !== 'Waiting'"  [ngClass]="{'has-error': (status.errors?.required), 'has-success': (!status.errors?.required)}">-->
            <!--<label class="col-sm-3">Current Status <small>*</small></label>-->
            <!--<div class="col-sm-7">-->
              <!--<label class="radio-inline">-->
                <!--<input type="radio" name="status" id="waiting" value="WAITING" [checked]="selectedStatus == 'WAITING' ? true: null" formControlName="status"> Waiting-->
              <!--</label>-->
              <!--<label class="radio-inline">-->
                <!--<input type="radio" name="status" id="development" value="DEVELOPMENT" [checked]="selectedStatus == 'DEVELOPMENT' ? true: null" formControlName="status"> Development-->
              <!--</label>-->
              <!--<label class="radio-inline">-->
                <!--<input type="radio" name="status" id="production" value="PRODUCTION" [checked]="selectedStatus == 'PRODUCTION' ? true: null" formControlName="status"> Production-->
              <!--</label>-->
              <!--<label class="radio-inline">-->
                <!--<input type="radio" name="status" id="hold" value="HOLD" [checked]="selectedStatus == 'HOLD' ? true: null" formControlName="status"> Hold-->
              <!--</label>-->
            <!--</div>-->
            <!--<div class="col-sm-2" style="font-size: 11px;">-->
              <!--<span *ngIf="status.errors?.required" class="help-block">Field is required</span>-->
            <!--</div>-->
          <!--</div>-->
          <div class="form-group row" *ngIf="openedForm !== 'Waiting'" [ngClass]="{'has-error': (pic.errors?.required  && pic.touched), 'has-success': (!pic.errors?.required)}">
            <label for="pic" class="col-sm-3">PIC</label>
            <div class="col-sm-7">
              <input type="text" maxlength="100" class="form-control" id="pic" formControlName="pic">
            </div>
            <div class="col-sm-2" style="font-size: 11px;">
              <span *ngIf="pic.errors?.required && pic.touched" class="help-block">Field is required</span>
            </div>
          </div>
          <div class="form-group row" *ngIf="openedForm !== 'Waiting'"  [ngClass]="{'has-error': (description.errors?.required  && description.touched), 'has-success': (!description.errors?.required)}">
            <label for="description" class="col-sm-3">Description</label>
            <div class="col-sm-7">
              <input type="text" maxlength="300" class="form-control" id="description" formControlName="description">
            </div>
            <div class="col-sm-2" style="font-size: 11px;">
              <span *ngIf="description.errors?.required && description.touched" class="help-block">Field is required</span>
            </div>
          </div>
        </form>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="projectFormBuilder.invalid" (click)="doSubmit()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form Development-->
<div *ngIf="openFormDevelopment" class="modal fade" id="myModalDevelopment" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog" style="width: 55%;">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel2" style="font-size: 16px; font-weight: bold;">
          {{ titleModal }}
        </h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <p class="col s3 text-danger" style="font-size: smaller">
          *) Field is Required
        </p><br>
        <form [formGroup]="developmentFormBuilder">
          <div class="form-group row" [ngClass]="{'has-error': (priority.errors?.required), 'has-success': (!priority.errors?.required)}">
            <label class="col-sm-3">Priority</label>
            <div class="col-sm-7">
              <label class="radio-inline">
                <input type="radio" name="priority" id="low2" value="3" [checked]="selectedPriority == '3' ? true: null" formControlName="priority"> Low
              </label>
              <label class="radio-inline">
                <input type="radio" name="priority" id="medium2" value="2" [checked]="selectedPriority == '2' ? true: null" formControlName="priority"> Medium
              </label>
              <label class="radio-inline">
                <input type="radio" name="priority" id="high2" value="1" [checked]="selectedPriority == '1' ? true: null" formControlName="priority"> High
              </label>
            </div>
            <div class="col-sm-2" style="font-size: 11px;">
              <span *ngIf="priority.errors?.required" class="help-block">Field is required</span>
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (startedDate.errors?.required  && startedDate.touched), 'has-success': (!startedDate.errors?.required)}">
            <label for="startDate2" class="col-sm-3">Start Date</label>
            <div class="col-sm-7">
              <input type="text" id="startDate2" class="form-control" formControlName="startDate"
                     #dp="bsDatepicker" bsDatepicker [(bsValue)]="startDate" value="{{ startDate | date: 'dd MMM yyyy' }}">
            </div>
            <div class="col-sm-2" style="font-size: 11px;">
              <span *ngIf="startedDate.errors?.required && startedDate.touched" class="help-block">Field is required</span>
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (liveDate.errors?.required  && liveDate.touched), 'has-success': (!liveDate.errors?.required)}">
            <label for="liveTarget2" class="col-sm-3">Go Live Target</label>
            <div class="col-sm-7">
              <input type="text" id="liveTarget2" class="form-control" formControlName="liveTarget"
                     #dp="bsDatepicker" bsDatepicker [(bsValue)]="liveTarget" value="{{ liveTarget | date: 'dd MMM yyyy' }}">
            </div>
            <div class="col-sm-2" style="font-size: 11px;">
              <span *ngIf="liveDate.errors?.required && liveDate.touched" class="help-block">Field is required</span>
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (pic.errors?.required  && pic.touched), 'has-success': (!pic.errors?.required)}">
            <label for="pic2" class="col-sm-3">PIC</label>
            <div class="col-sm-7">
              <input type="text" maxlength="100" class="form-control" id="pic2" formControlName="pic">
            </div>
            <div class="col-sm-2" style="font-size: 11px;">
              <span *ngIf="pic.errors?.required && pic.touched" class="help-block">Field is required</span>
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (description.errors?.required  && description.touched), 'has-success': (!description.errors?.required)}">
            <label for="description2" class="col-sm-3">Description</label>
            <div class="col-sm-7">
              <input type="text" maxlength="300" class="form-control" id="description2" formControlName="description">
            </div>
            <div class="col-sm-2" style="font-size: 11px;">
              <span *ngIf="description.errors?.required && description.touched" class="help-block">Field is required</span>
            </div>
          </div>
        </form>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="projectFormBuilder.invalid" (click)="doSubmit()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form Hold-->
<div *ngIf="openFormHold" class="modal fade" id="confirmModalHold" tabindex="-1" role="dialog"
     aria-labelledby="confirmModalHoldLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="confirmModalHoldLabel" style="font-size: 20px; font-weight: bold;">
          Confirmation
        </h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <p style="font-size: 18px;">This project will be hold. Are you sure?</p>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="doHoldProject()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form Continue-->
<div *ngIf="openFormContinue" class="modal fade" id="confirmModalContinue" tabindex="-1" role="dialog"
     aria-labelledby="confirmModalContinueLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="confirmModalContinueLabel" style="font-size: 20px; font-weight: bold;">
          Confirmation
        </h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <p style="font-size: 18px;">This project will be continued into Development. Are you sure?</p>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="doContinueProject()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form Production-->
<div *ngIf="openFormProduction" class="modal fade" id="confirmModalProduction" tabindex="-1" role="dialog"
     aria-labelledby="confirmModalProdLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="confirmModalProdLabel" style="font-size: 20px; font-weight: bold;">
          Confirmation
        </h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <p style="font-size: 18px;">This project will be finished. Are you sure?</p>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="doFinishProject()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form Continue-->
<div *ngIf="openFormDelete" class="modal fade" id="confirmModalDelete" tabindex="-1" role="dialog"
     aria-labelledby="confirmModalDeleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="confirmModalDeleteLabel" style="font-size: 20px; font-weight: bold;">
          Confirmation
        </h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <p style="font-size: 18px;">This project will be deleted ftom Project List. Are you sure?</p>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="doDeleteProject()">
          YES
        </button>
      </div>
    </div>
  </div>
</div>
