/* You can add global styles to this file, and also import other style files */
@media (min-width: 1536px) {
  html, body {
    font-size: 24px;
  }

  .container {
    width: 1850px;
  }
}

.done-project {
  animation: done-proj 3s infinite;
  color: #00ee00;
}

@keyframes done-proj {
  0% {
  }
  50% {
    text-shadow: 0px 0px 10px #00ee00;
  }
  75% {
    text-shadow: 0px 0px 10px white;
  }
  100% {
  }
}
