<div class="container">
  <div class="page-header">
    <img class="pull-left" src="assets/image/kfc-indonesia-logo.png" height="75" width="60"/>
    <h1 style="margin-left: 75px;padding-top: 15px;padding-bottom: 10px;">IT Project Monitoring</h1>
    <h4 style="margin-top: -30px;font-size: 18px;font-weight: bold" class="pull-right">
      {{todaysDate | date: 'EEEE, dd MMMM yyyy'}}
    </h4>
  </div>
  <div>
    <div style="font-size: 20px;letter-spacing: 3px;" class="label label-default"> {{title}}</div>
    <div style="font-size: 18px" class="pull-right">
      Showing next in <span id="remaining"></span>
      <div class="pull-right" style="margin-left: 10px; margin-top: -5px;">
        <i [style.display]="isPause ? 'none' : 'block'" class="fa fa-pause-circle-o fa-2x" title="Pause" #pause (click)="pausedSlideShow()"></i>
        <i [style.display]="isPause ? 'block' : 'none'" class="fa fa-play-circle-o fa-2x" title="Play Slide Show" #resume (click)="playSlideShow()"></i>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>No</th>
      <th>Project Name</th>
      <th style="text-align: center">Start Date</th>
      <th style="text-align: center">Go Live Target</th>
      <th style="text-align: center">Division</th>
      <th>Current Status</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let proj of projectList; let i = index;">
      <td>{{(pageNo*10)+i+1}}</td>
      <td>
        <div style="font-weight: bold">
          {{proj.projectName}}
          <div class="pull-right" *ngIf="proj.priority==='1'">
            <i style="color: red" class="fa fa-flag"></i>
          </div>
          <div class="pull-right" *ngIf="proj.priority==='2'">
            <i style="color: orange" class="fa fa-flag"></i>
          </div>
          <div class="pull-right" *ngIf="proj.priority==='3'">
            <i style="color: #00b3ee" class="fa fa-flag"></i>
          </div>
        </div>
        <div style="font-size: 18px">{{proj.requester}}</div>

      </td>
      <td style="text-align: center">
        {{proj.startDate === '1970-01-01 07:00:00.0' ? '' : (proj.startDate  | date: 'dd MMM yyyy')}}
      </td>
      <td style="text-align: center">{{proj.goLiveTarget === '1970-01-01 07:00:00.0' ? '' : (proj.goLiveTarget  | date: 'dd MMM yyyy')}}</td>
      <td style="text-align: center">{{proj.division}}</td>
      <td>
        <div *ngIf="proj.currentStatus==='DEVELOPMENT'">
          <i class="fa fa-cog fa-spin fa-1x fa-fw"></i> {{proj.currentStatus}} (PIC : {{proj.pic}})
        </div>
        <div *ngIf="proj.currentStatus==='HOLD'">
          <i class="fa fa-hand-paper-o"></i> {{proj.currentStatus}} (PIC : {{proj.pic}})
        </div>
        <div *ngIf="proj.currentStatus==='PRODUCTION'">
          <i class="fa fa-play done-project"></i> {{proj.currentStatus}} (PIC : {{proj.pic}})
        </div>
        <div *ngIf="proj.currentStatus==='WAITING'">
          <app-hour-glass></app-hour-glass>
          {{proj.currentStatus}}
        </div>
      </td>
      <td>{{proj.description}}</td>
    </tr>
    </tbody>
  </table>
</div>
